@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;

  /*fondo = combo de gradiente + patrón de imagen*/
  background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}

body {
  font-family: montserrat, arial, verdana;
}

/* Header*/
.header {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  width: 100%;
  /*
  padding: 0 2%;
  */
  padding: 2rem 0;
  box-sizing: border-box;
  background-color: black;
  position: fixed;
  color: #fff;
}

.header a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.logo-nav-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  letter-spacing: 15px;
  font-size: 1.4em;
}

.menu {
  display: flex;
}

.menu li {
  list-style-type: none;
  margin-left: 60px;
}

.menu li a {
  padding: 20px 0;
}

.menu li a:hover {
  color: #fb743e;
}

.menu li a:hover,
.fas {
  color: #fb743e;
}

.navigation {
  transition: all 0.4s linear;
  border-radius: 5px;
}

.navActive {
  display: flex;
}

/* Tres lineas*/
.ham {
  display: none;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.ham span {
  background-color: #f3f3f3;
  display: block;
  height: 3px;
  width: 28px;
  margin: 10px auto;
  border-radius: 2px;
}

/* Para dispositivos moviles */
@media (max-width: 768px) {
  body {
    overflow: hidden;
  }
  .ham {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 25px;
    transition: 0.2s 0.1s;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .navigation {
    width: 100%;
    margin-top: 1rem;
  }

  .navigation ul {
    display: none;
  }

  .navigation ul li {
    display: block;
  }

  .navigation ul li a {
    display: block;
    padding: 0.5rem 0;
    transition: all 0.4s linear;
    border-radius: 5px;
  }

  .logo-nav-container {
    padding-left: 25px;
    flex-wrap: wrap;
  }

  .menu {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    margin: 0;
    padding: 0;
    display: none;
    opacity: 0;
    transition: opacity 5s ease-out;
    width: 100%;
  }
  .menu li {
    text-align: center;
    width: 100%;
    padding: 20px;
  }
}

/* Animaciones */

@keyframes muestraMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu.activado {
  display: flex;
  animation: muestraMenu 350ms ease-in-out both;
}

.br-1.animado {
  transform: rotate(-45deg) translate(-10px, 8px);
}

.br-2.animado {
  opacity: 0;
}
.br-3.animado {
  transform: rotate(45deg) translate(-10px, -8px);
}

.ham.girar:hover {
  transform: rotate(360deg);
}

/* Main */

/*estilos de formulario*/
#msform {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}
#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;

  /*apilamiento de conjuntos de campos uno encima de otro*/
  position: relative;
}
/*Ocultar todo excepto el primer conjunto de campos*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*entradas*/
#msform input,
#msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}
/*Botones*/
#msform .action-button {
  width: 100px;
  background: #27ae60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
}
/*encabezados*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*barra de progreso*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*Contadores CSS para numerar los pasos*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
/*conectores de la barra de progreso*/
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*Ponerlo detrás de los números*/
}
#progressbar li:first-child:after {
  /*Conector no necesario antes del primer paso*/
  content: none;
}
/*marcar pasos activos/completados green*/
/*El número del paso y el conector que lo precede = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #27ae60;
  color: white;
}
