@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

::root {
  scroll-behavior: smooth;
}

body {
  background-color: #333;
  font-family: "Open Sans", sans-serif;
}

/* Header*/
.header {
  height: 10vh;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 0 2%;
  /*
  padding: 2rem 0;
  */
  box-sizing: border-box;
  background-color: black;
  position: flex;
  color: #fff;
}

.header a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  display: flex;
}

.logo-nav-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  letter-spacing: 15px;
  font-size: 1.6em;
  font-family: 'Major Mono Display', monospace;
}

.menu {
  display: flex;
}

.menu li {
  list-style-type: none;
  margin-left: 60px;
}

.menu li a {
  padding: 20px 0;
}

.menu li a:hover {
  color: #fb743e;
}

.navigation {
  transition: all 0.4s linear;
  border-radius: 5px;
}

.hamburguer {
  display: none;
  /* Fijo en todoa la pagina aunque hagamos scroll*/
  position: fixed;
  top: 30px;
  right: 30px;
  background: #fff;
  width: 40px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5)
}

.menu-navegacion {
  position: fixed;
  top: 0;
  right: 0;
  /* 30% del ancho de la pagina */
  width: 30vw;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  /* Espacio equitativamente y verticalmente */
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  transform: translate(110%);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

/*Creo una nueva clase para un efecto de mi boton */
.spread {
  /* Cuando de click en el boton aparece el menu*/
  transform: translateX(0);
}

.menu-navegacion a {
  color: #fff;
  text-decoration: none;
}


/* Main */
.main {
  color: #fff;
  width: 100%;
  height: 1000px;
  border-style: none;
}

.his-mex {
  text-align: center;
}

.his-mex h1 {
  margin-top: 30px;
}

.his-mex img {
  width: 1000px;
  height: 500px;
}

.civ-meso {
  text-align: center;
}

.civ-meso img {
  width: 800px;
  height: 400px;
}

.conq-mex {
  text-align: center;
}

.conq-mex img {
  width: 38%;
}

.fun-cmex {
  text-align: center;
}

.fun-cmex img{
  width: 40%;
}

.ep-colonial {
  text-align: center;
}

.ep-colonial img {
  width: 35%;
}

.guerra-indep {
  text-align: center;
}

.guerra-indep img {
  width: 35%;
}

.first-impermex {
  text-align: center;
}

.first-impermex img {
  width: 35%;
}

.inter-fran {
  text-align: center;
}

.inter-fran img {
  width: 35%;
}

.inter-usa {
  text-align: center;
}

.inter-usa img {
  width: 35%;
}

.rev-mex {
  text-align: center;
}

.rev-mex img {
  width: 35%;
}

.mex-moderno {
  text-align: center;
}

.mex-moderno img {
  width: 35%;
}

.fuente-his {
  text-align: center;
  font-size: 10pt;
}

/* Para dispositivos moviles */
@media screen and (max-width: 800px) {
  .header {
    position: fixed;
    margin-top: -30px;
  }

  .hamburguer {
    display: flex;
    margin-top: -12px;
  }

  .menu-navegacion {
    width: 60vw;
  }

  .logo {
    display: flex;
    margin-top: 35px;
  }

  .menu {
    display: none;
  }

  .contenido-header {
    flex-direction: column;
    justify-content: space-evenly;
    height: 720px;
  }

  .contenido-header>img {
    width: 400px;
  }

.textos-header {
    margin: 0;
  }

  /* main */

  .his-mex h1 {
    margin-top: 60px;
  }

  .his-mex img{
    width: 400px;
    height: 200px;
  }

  .civ-meso img{
    width: 350px;
    height: 150px;
  }

  .conq-mex img{
    width: 350px;
    height: 150px;
  }

  .fun-cmex img {
    width: 350px;
  }

}

@media screen and (max-width: 500px){

  .header {
    display: fixed;
  }

  .hamburguer {
    display: flex;
    top: 20px;
    right: 20px;
  }

  .menu-navegacion {
    width: 65vw;
  }

  .logo {
    display:flex;
  }

  .logo a {
    margin-top: 10px;
  }

  .menu {
    display: none;
  }

  .contenido-header {
    flex-direction: column;
    justify-content: space-evenly;
    height: 720px;
  }

  .contenido-header>img {
    width: 400px;
  }

  .textos-header {
    margin: 0;
  }

  /* main */

  .his-mex img{
    width: 90%;
  }

  .civ-meso img{
    width: 75%;
  }

  .conq-mex img{
    width: 75%;;
  }

  .fun-cmex img {
    width: 75%;
  }

  .ep-colonial img {
    width: 75%;
  }

  .guerra-indep img {
    width: 75%;
    height: 150px;
  }
  
  .first-impermex img {
    width: 75%;
  }

  .inter-fran img {
    width: 75%;
  }

  .inter-usa img {
    width: 75%;
  }

  .rev-mex img {
    width: 75%;
  }

  .mex-moderno img {
    width: 75%;
  }

}