@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

body {
  background-color: #333;
  font-family: "Open Sans", sans-serif;
}

/* Header*/
.header {
  height: 10vh;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 0 2%;
  /*
  padding: 2rem 0;
  */
  box-sizing: border-box;
  background-color: black;
  position: flex;
  color: #fff;
}

.header a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  display: flex;
}

.logo-nav-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  letter-spacing: 15px;
  font-size: 1.6em;
  font-family: 'Major Mono Display', monospace;
}

.menu {
  display: flex;
}

.menu li {
  list-style-type: none;
  margin-left: 60px;
}

.menu li a {
  padding: 20px 0;
}

.menu li a:hover {
  color: #fb743e;
}

.navigation {
  transition: all 0.4s linear;
  border-radius: 5px;
}

.hamburguer {
  display: none;
  /* Fijo en todoa la pagina aunque hagamos scroll*/
  position: fixed;
  top: 30px;
  right: 30px;
  background: #fff;
  width: 40px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5)
}

.menu-navegacion {
  position: fixed;
  top: 0;
  right: 0;
  /* 30% del ancho de la pagina */
  width: 30vw;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  /* Espacio equitativamente y verticalmente */
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  transform: translate(110%);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

/*Creo una nueva clase para un efecto de mi boton */
.spread {
  /* Cuando de click en el boton aparece el menu*/
  transform: translateX(0);
}

.menu-navegacion a {
  color: #fff;
  text-decoration: none;
}


/* Main */
/*
.main {
  position: absolute;
  top: 120px;
  left: 600px;
  color: #fff;
}
*/

.main {
  color: darkGrey;
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
}

.card__image {
  max-width: 300px;
  height: 225px;
}

div.btn {
  background: teal;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: white;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}

a.btn {
  background: teal;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: white;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}

.no-touch a.btn:hover {
  background: lighten(teal, 2.5);
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active,
a.btn:active {
  background: darken(teal, 2.5);
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
  transform: translate3d(0, 1px, 0);
  transition: all 0.025s 0s ease-out;
}

div.cards {
  margin: 80px auto;
  max-width: 1400px;
  text-align: center;
}

div.card {
  background: white;
  display: inline-block;
  margin: 18px;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 300px;
  z-index: 1;
  border-radius: 10px;

  img {
    max-width: 300px;
  }
  
  .card__image-holder {
    background: rgba(0,0,0,0.1);
    height: 0;
    padding-bottom: 75%;
  }

  div.card-title {
    background: white;
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;
    
    a.toggle-info {
      border-radius: 32px;
      height: 32px;
      padding: 0;
      position: absolute;
      right: 15px;
      top: 10px;
      width: 32px;
      
      span {
        background: white;
        display: block;
        height: 2px;
        position: absolute;
        top: 16px;
        transition: all 0.15s 0s ease-out;
        width: 12px;
      }
      
      span.left {
        right: 14px;
        transform: rotate(45deg);
      }
      span.right {
        left: 14px;
        transform: rotate(-45deg);
      }
    }
    
    h2 {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.05em;
      margin: 0;
      padding: 0;
      
      small {
        display: block;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.025em;
      }
    }
  }

  div.card-description {
    padding: 0 15px 10px;
    position: relative;
    font-size: 14px;
  }

  div.card-actions {
  	box-shadow: 0 2px 0px 0 rgba(0,0,0,0.075);
    padding: 10px 15px 20px;
    text-align: center;
  }
  
  div.card-flap {
    background: darken(white,15);
    position: absolute;
    width: 100%;
    transform-origin: top;
    transform: rotateX(-90deg);
  }
  div.flap1 {
    transition: all 0.3s 0.3s ease-out;
    z-index: -1;
  }
  div.flap2 {
    transition: all 0.3s 0s ease-out;
    z-index: -2;
  }
  
}

div.cards.showing {
  div.card {
    cursor: pointer;
    opacity: 0.6;
    transform: scale(0.88);
  }
}

.no-touch  div.cards.showing {
  div.card:hover {
    opacity: 0.94;
    transform: scale(0.92);
  }
}

div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;

  div.card-title {
    a.toggle-info {
      background: salmon !important;
      span {
        top: 15px;
      }
      span.left {
        right: 10px;
      }
      span.right {
        left: 10px;
      }
    }
  }
  div.card-flap {
    background: white;
    transform: rotateX(0deg);
  }
  div.flap1 {
    transition: all 0.3s 0s ease-out;
  }
  div.flap2 {
    transition: all 0.3s 0.2s ease-out;
  }
}


/* Para dispositivos moviles */
@media screen and (max-width: 800px) {
  .hamburguer {
    display: flex;
  }

  .menu-navegacion {
    width: 50vw;
  }

  .logo {
    display: flex;
    margin-top: 20px;
  }

  .menu {
    display: none;
  }

  .contenido-header {
    flex-direction: column;
    justify-content: space-evenly;
    height: 720px;
  }

  .contenido-header>img {
    width: 400px;
  }

  .textos-header {
    margin: 0;
  }

  .footer {
    margin-top: 1100px;
    width: 100%;
    display: flex;
  }

  /* Animaciones */

}