@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  max-width: 100%;
}
h2,
h3 {
  text-align: center;
  color: #fff;
}
h2 {
  font-size: 2em;
}

.present iframe {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding-right: 8rem !important;
  padding-left: 8rem !important;
}

.pr-8 {
  padding-right: 8rem !important;
}
.pl-8 {
  padding-left: 8rem !important;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
