@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");

* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #333;
  font-family: "Open Sans", sans-serif;
}
.header iframe {
  width: 100%;
  height: 100%;
  border-style: none;
}

.main iframe {
  width: 100%;
  height: 1000px;
  border-style: none;
}

.footer iframe {
  width: 100%;
  height: 100%;
  border-style: none;
}

/* Estilos de main*/
.container-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  max-width: 100%;
}
h2,
h3 {
  text-align: center;
  color: #fff;
}
h2 {
  font-size: 2em;
}

.present iframe {
  display: flex;
  flex-wrap: wrap;
  left: 0;
  right: 0;
}

/* Main */

/* Destinos*/
.container-des {
  size: 100%;
  width: 100%;
  height: 100%;
  border-style: none;
}
