@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #333;
  font-family: "Open Sans", sans-serif;
}

/* Header*/
.header {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  width: 100%;
  /*
  padding: 0 2%;
  */
  padding: 2rem 0;
  background-color: black;
  position: fixed;
  color: #fff;
}

.header a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.logo-nav-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  letter-spacing: 15px;
  font-size: 1.4em;
}

.menu {
  display: flex;
}

.menu li {
  list-style-type: none;
  margin-left: 60px;
}

.menu li a {
  padding: 20px 0;
}

.menu li a:hover {
  color: #fb743e;
}

.menu li a:hover,
.fas {
  color: #fb743e;
}

.navigation {
  transition: all 0.4s linear;
  border-radius: 5px;
}

.navActive {
  display: flex;
}

/* Tres lineas*/
.ham {
  display: none;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.ham span {
  background-color: #f3f3f3;
  display: block;
  height: 3px;
  width: 28px;
  margin: 10px auto;
  border-radius: 2px;
}

/* Main */
.main {
  color: #fff;
  width: 100%;
  height: 1000px;
  border-style: none;
}

.main h1 {
  text-align: center;
  margin-top: 110px;
}

.container-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
}

.main h3 {
  text-align: center;
}

.main a {
  color: #fff;
}

/* Para dispositivos moviles */
@media (max-width: 768px) {
  body {
    overflow: hidden;
  }
  .ham {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 25px;
    transition: 0.2s 0.1s;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .navigation {
    width: 100%;
    margin-top: 1rem;
  }

  .navigation ul {
    display: none;
  }

  .navigation ul li {
    display: block;
  }

  .navigation ul li a {
    display: block;
    padding: 0.5rem 0;
    transition: all 0.4s linear;
    border-radius: 5px;
  }

  .logo-nav-container {
    padding-left: 25px;
    flex-wrap: wrap;
  }

  .menu {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    margin: 0;
    padding: 0;
    display: none;
    opacity: 0;
    transition: opacity 5s ease-out;
    width: 100%;
  }
  .menu li {
    text-align: center;
    width: 100%;
    padding: 20px;
  }

  .main {
    color: #fff;
    width: 100%;
    height: 1000px;
    border-style: none;
  }

  .main h1 {
    text-align: center;
    margin-top: 170px;
  }
}

/* Animaciones */

@keyframes muestraMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu.activado {
  display: flex;
  animation: muestraMenu 350ms ease-in-out both;
}

.br-1.animado {
  transform: rotate(-45deg) translate(-10px, 8px);
}

.br-2.animado {
  opacity: 0;
}
.br-3.animado {
  transform: rotate(45deg) translate(-10px, -8px);
}

.ham.girar:hover {
  transform: rotate(360deg);
}